body {
    margin: 0;
    padding: 0;
    background-color: crimson;
}

canvas {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/background.png);
}

h2{
    position: absolute;
    display: inline;
    transform: translate(-50%);
    top: 400px;
    left: -200px;
    transform: rotate(-70deg);
    font-size: 80px;
    text-shadow: 3px 3px 20px black;
    color: white;
}
