body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
}

canvas {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/background.png);
}

h2{
    position: absolute;
    display: inline;
    transform: translate(-50%);
    top: 400px;
    left: -200px;
    transform: rotate(-70deg);
    font-size: 80px;
    text-shadow: 3px 3px 20px black;
    color: wheat;
}

#highscore {
    position: absolute;
    top: 300px;
    right: 150px;
    width: 450px;
    height: 600px;
    background-color: wheat;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
}

#highscore h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

#highscore ol {
    position: relative;
    margin: 40px;
}

li {
    padding: 40px;
    font-size: 30px;
}
