body {
    margin: 0;
    padding: 0;
    background-color: rgb(6,8,22);
}
#menu {
    background-color: rgba(24, 141, 92, 0.3);

    color: white;
    z-index: 100;
    position: relative;
    width: 50%;
    margin: auto;
    padding: 100px;
}
ul {
    list-style-type: none;
}


canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/background.png);
}

h2{
    position: absolute;
    display: inline;
    transform: translate(-50%);
    top: 400px;
    left: -200px;
    transform: rotate(-70deg);
    font-size: 80px;
    text-shadow: 3px 3px 20px black;
    color: wheat;
}

#highscore {
    position: absolute;
    display: none;
}

#highscore h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

#highscore ol {
    position: relative;
    margin: 40px;
}

li {
    padding: 4px;
    font-size: 30px;
}
